/* line 1, ../../sass/eventos/agregar.scss */
.hero-unit h1 {
  background-color: rgba(37, 63, 7, 0.5);
  color: #FFFFFF;
  float: right;
  font-family: sans-serif;
  font-size: 2em;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 2;
  margin-bottom: 0;
  margin-top: -84px;
  text-align: right;
  width: 400px;
  padding-right: 15px;
}

/* line 18, ../../sass/eventos/agregar.scss */
p.text-error {
  margin: 0;
}
