.fotos {
  text-align: center;
  overflow: hidden;
  height: 200px;
  max-height: 200px;
  weight: 450px;
  max-weight: 450px;
    
  & > img {
  }
}

.hero-unit h1 {
   background-color: rgba(37, 63, 7, 0.5);
    color: #FFFFFF;
    float: right;
    font-family: sans-serif;
    font-size: 2em;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 2;
    margin-bottom: 0;
    margin-top: -84px;
    text-align: right;
    width: 400px;
    padding-right: 15px;
}
