@import fonts, variables

.vistaVideo
  margin:
    bottom: 15px
    top: 15px
  
.btn-success
  background-color: #608E40
  background-image: -moz-linear-gradient(center top , #8CB523, #608E40)
  font:
    family: 'Spathaserif'
    weight: bold
  
.btn-success:hover
  background-color: #608E40
    
.multimedia-tittle
  font:
    family: 'Existence'
    weight: bold
  color: $gris